<ul class="nav nav-tabs">

    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" (click)="select('recipes')">Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" (click)="select('shopping')">Shopping list</a>
    </li>



    <!-- <li >
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown button
            </button>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Save data</a></li>
                <li><a class="dropdown-item" href="#">Fetch data</a></li>
            </ul>
        </div>
    </li> -->
    <li>
        <div class="dropdown">
         
            
            <div class="dropdown">
                <button appDropdown class="dropdown-toggle " type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dropdown button
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Save data</a></li>
                    <li><a class="dropdown-item" href="#">Fetch data</a></li>
                </ul>
            </div>  
        </div>
    </li>

    <li>
    </li>

</ul>